
  <mat-toolbar color="primary">
    
   
  <img class="logo" src="../assets/logo.png" alt="">
    <span class="example-spacer"></span>
    
     <span class="links">Home</span>
     <span class="links">Products</span>
     <span class="links">Contact Us</span>
  
  
  </mat-toolbar>


<mat-grid-list cols="1" rowHeight="2:.9">
 
  <mat-grid-tile>
   
<img class="landing" src="../assets/wp8921993.jpg" alt="">

    
  </mat-grid-tile>
 
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="2:.1">
<mat-grid-tile>
  <h2>Who we are?</h2>
</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="2:.05">
  <mat-grid-tile>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cum corporis cumque ut, vitae quis similique illum, molestiae voluptatibus, atque pariatur nobis perferendis veritatis saepe. Ad, unde! Voluptas, exercitationem suscipit?</p>
  </mat-grid-tile>
  </mat-grid-list>

  <!-- card -->
  <mat-grid-list cols="3" rowHeight="4:5">
    <mat-grid-tile>
    
      <mat-card class="example-card" >
     
        <img mat-card-image src="../assets/4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- card -->
      <mat-card class="example-card">
     
        <img mat-card-image src="../assets/5.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- card -->
      <mat-card class="example-card">
     
        <img mat-card-image src="../assets/6.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
    <!--  -->
    <mat-grid-list cols="3" rowHeight="4:5">
      <mat-grid-tile>
      
        <mat-card class="example-card" >
       
          <img mat-card-image src="../assets/3jpg.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- card -->
        <mat-card class="example-card">
       
          <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- card -->
        <mat-card class="example-card">
       
          <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      </mat-grid-list>
      <!--  -->
      <mat-grid-list cols="3" rowHeight="4:5">
        <mat-grid-tile>
        
          <mat-card class="example-card" >
         
            <img mat-card-image src="../assets/3jpg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- card -->
          <mat-card class="example-card">
         
            <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- card -->
          <mat-card class="example-card">
         
            <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        </mat-grid-list>
<!-- footer -->
<p>
  <mat-toolbar color="primary">
   
  
  

    <p class="center">Designed by Amira Mahana</p>
  </mat-toolbar>
</p>