
  <mat-toolbar color="primary">
    
   
  <img class="logo" src="../assets/logo.png" alt="">
    <span class="example-spacer"></span>
    
     <span class="links">Home</span>
     <span class="links">Products</span>
     <span class="links">Contact Us</span>
  
  
  </mat-toolbar>

<!--  -->
<div class="header text-center">
  <!-- <div class="overlay"> -->
    <!-- <h1>Pet Shop</h1> -->
    <!-- <div class="plan">Shirazy 100$</div>
    <div class="plan"> Special cat 200$</div> -->
  <!-- </div> -->
</div>

<!-- random -->

    <!-- random -->
    <div class="container-fluid padding random">
      <div class="row padding">
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/4.jpg">
            <div class="card-body">
              <h2>flowers</h2>
              <p class="d-block small ">112 EGP</p>
              <a class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"   >
          <div class="card">
            <img class="card-img-top" src="../assets/5.jpg">
            <div class="card-body">
              <h2>ff</h2>
              <p class="d-block small ">129 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/img2.jpg">
            <div class="card-body">
              <h2>heloo</h2>
              <p class="d-block small ">900 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row padding">
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/pexels-photo-4482677.jpeg">
            <div class="card-body">
              <h2>flowers</h2>
              <p class="d-block small ">112 EGP</p>
              <a class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"   >
          <div class="card">
            <img class="card-img-top" src="../assets/1.jpg">
            <div class="card-body">
              <h2>ff</h2>
              <p class="d-block small ">129 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/3jpg.jpg">
            <div class="card-body">
              <h2>heloo</h2>
              <p class="d-block small ">900 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row padding">
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/6.jpg">
            <div class="card-body">
              <h2>flowers</h2>
              <p class="d-block small ">112 EGP</p>
              <a class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"   >
          <div class="card">
            <img class="card-img-top" src="../assets/5.jpg">
            <div class="card-body">
              <h2>ff</h2>
              <p class="d-block small ">129 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-4"  >
          <div class="card">
            <img class="card-img-top" src="../assets/pexels-photo-1477166.jpeg">
            <div class="card-body">
              <h2>heloo</h2>
              <p class="d-block small ">900 EGP</p>
              <a  class="btn btn-outline-secondary" >See more</a>
            </div>
          </div>
          
        </div>
      </div>
      </div>
      <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>
    
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
    </footer>













<!-- 
<mat-grid-list cols="1" rowHeight=100%>
 
  <mat-grid-tile>
   
<img class="landing" src="../assets/wp8921993.jpg" alt="">

    
  </mat-grid-tile>
 
</mat-grid-list>

<mat-grid-list cols="1" rowHeight=25% class="padding">
<mat-grid-tile>
  <h2>Who we are?</h2>
</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight=25%>
  <mat-grid-tile>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cum corporis cumque ut, vitae quis similique illum, molestiae voluptatibus, atque pariatur nobis perferendis veritatis saepe. Ad, unde! Voluptas, exercitationem suscipit?</p>
  </mat-grid-tile>
  </mat-grid-list>

 
  <mat-grid-list cols="3" rowHeight="4:5">
    <mat-grid-tile>
    
      <mat-card class="example-card" >
     
        <img mat-card-image src="../assets/4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
 
      <mat-card class="example-card">
     
        <img mat-card-image src="../assets/5.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="example-card">
     
        <img mat-card-image src="../assets/6.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
  
    <mat-grid-list cols="3" rowHeight="4:5">
      <mat-grid-tile>
      
        <mat-card class="example-card" >
       
          <img mat-card-image src="../assets/3jpg.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
     
        <mat-card class="example-card">
       
          <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
       
        <mat-card class="example-card">
       
          <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      </mat-grid-list>
  
      <mat-grid-list cols="3" rowHeight="4:5">
        <mat-grid-tile>
        
          <mat-card class="example-card" >
         
            <img mat-card-image src="../assets/3jpg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      
          <mat-card class="example-card">
         
            <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
        
          <mat-card class="example-card">
         
            <img mat-card-image src="../assets/2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        </mat-grid-list>

<p>
  <mat-toolbar color="primary">
   
  
  

    <p class="center">Designed by Amira Mahana</p>
  </mat-toolbar>
</p> -->